
	.entry-header{
		display:flex;
		flex-flow: row wrap;
		text-align: center;
		width:100vw;
		justify-content: center;
		align-items: center;
		

	.entry-title{
		margin-bottom: 600px;
		font-family:$headfont;
		text-transform: uppercase;
		font-size:32px;
		color:black;
		margin-top: 22px;
		z-index: 1;			
		}
	}

.site-main{
	.about-banner{
		background:linear-gradient(to bottom, rgba($color_black, 0.2), rgba($color_black, 0.2)), url("../../images/about-hero.jpg");
			width:142%;
			height:125vh;
			background-size:cover, cover;
			display: flex;
			justify-content: center;
	}
}
.page .content-area{
	padding-left: 0%;
}

.alignnone{	
	position: absolute;
    top: 100px;
    width: auto;
    margin-bottom: 600px;
    left: 0px;
}


.site-main-abt{
	text-align: -webkit-center;
}

.content-area-abt{
	display: flex;
    text-align: -webkit-center;
}

.entry-content-abt{
	max-width: 1080px;
	text-align: -webkit-center;
}

#post-11 {
	max-width: 100%;
    width: 100%;
    text-align: -webkit-auto;
}