.page .content-area-abt{
    padding-left: 0%;
    font-family: 'Merriweather';
}

.alignnone{	
    display: none;
}


.site-main-abt{
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.content-area-abt{
    width: 100%;
    height: auto;
    text-align: -webkit-center;
    padding: inherit;
}

.entry-content-abt{
	max-width: 800px;
	text-align: -webkit-left;
}

#post-11 {
	max-width: 100%;
    width: 100%;
    text-align: -webkit-auto;
}

.hero-title {
    color: white;
    letter-spacing: 1.5px;
}

.hero-image {
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}