
h1{
    text-transform:uppercase;
}

.single.single-adventure{
	.entry-header{
		height:auto;
    width:100vw;
    text-align: center;
  }

  .content-area{
    padding-left:0;
    padding-right:0;
    width:100%;
  }

  .entry-content{
    @include center();
    width: 850px;
    padding-bottom:1rem;
    line-height:1.5; 
    max-width:800px;
  }

  .entry-meta{
    position: relative;
    color:$color_black;
    background-color:transparent;
    @include center();
    max-width:800px;
    text-align: left;
    font-size:1.5rem;
  }

  .entry-title{
    font-size:3rem;
    margin-bottom:0;
  }

  .social-buttons{
    margin-bottom:2rem;
  }

  .site-header.reverse-header{
    background-color: transparent;
    border-bottom: 0;
    position: absolute;
  }
}

.read-more-adv {
  margin: 50px;
}

.adventures-wrapper .container:nth-child(3) .adventure-entry img {
  height: 232px;
}

.adventures-wrapper .container:nth-child(4) .adventure-entry img {
  height: 232px;
}

.adventure-read-more {
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-family: Novecento,Sans-Serif;
  position: absolute;
  top: 170px;

}

.adventure-info{
  margin-top: -70px;
}

.adventures-wrapper .adventure-entry .adventure-info a {
  color: #fff;
  margin-top: 55px;
}

.home .advreadmore {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  font-family: 'Merriweather';
}

.moreadventures .read-more{
  padding-bottom: 12px;
  letter-spacing: -0.1px;
}

.adventure-entry img{
  filter: brightness(0.6);
}

.advreadmore a{
  background: blue;
}

.advreadmore a:hover{
  background: black;
}