@import "variables";

.site-content{
	display:flex;
	@include center();
}

.content-area{
	width:75%;
}


.archive{
	.entry-title{
	position: absolute;
    top: 0;
    background-color: $green;
    margin-top: 2rem;
    font-size: 2rem;
	max-width: 75%;
	padding-left:1rem;
	padding-right:1rem;	
		a{
		color:#fff;
		text-decoration: none;

		a:hover{
		color:#f0e4d1;
		}
		}
	}
}

.page,.single,.blog,.archive{
	.content-area{
		padding-left:1%;
	}
}
.hfeed{
	display:flex;
}

.sticky {
	display: block;
}

.entry-header {
	font-family:$headfont;
	position:relative;
	width: 760px;
    height: 520px;
    display: flex;
	img{
	width: 100%;
	}
	.price{
	font-size:2rem;
	}
}

.single-post{
	h1.entry-title{
		position: absolute;
		top:10%;
		background-color: $green;
		margin-top:2rem;
		font-size:2.0rem;
		max-width:75%;
		color:$main;
		font-family:$headfont;
		padding: 0 20px;
	}
}

.blog{
	.read-more-wrapper{
		padding-bottom:2rem;
	}
	.entry-header{
		h2.entry-title{
			top:0;
			background-color: $green;
			margin-top:2rem;
			font-size:2.0rem;
			max-width:75%;
			padding-left:1rem;
			padding-right:1rem;	
			position: absolute;
		}
		a{
			font-family:$headfont;
			color:#fff;
			text-decoration:none;
		}
 }
}	

.entry-meta{
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color:$green;
	color:$main;
	padding: 0.25rem 2rem;
	font-family: 'Novecento';
	font-size: 18px;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


.single-format-standard{
	.social-buttons{
		.fa:before{
			padding-right:0.5rem;
		}
	}
}

.page-id-38{
	.site-main{
		padding-top: 10%;
	}
}

.product-type-blocks{
	font-size:0.95rem;
	display:flex;
	justify-content: space-between;
	text-align:center;
  }
  .product-type-block-wrapper{
	flex-basis:23.5%;
	max-width:23.5%;
	border:1px solid $lightgrey;
	border-top-width: 5px;
	padding:1rem;
	img{
	  height:65px; 
	}
	a.btn{
	  font-family:$headfont;
	  background:$green;
	  color:$main;
	  text-decoration:none;
	  text-transform: uppercase;
	  padding: .75rem 1.5rem;
	  font-size: 13px;
	}
  }
  .product-type-block-wrapper:hover
  {
	border:1px solid $orange; 
	border-top-width:5px;
  }
  
  .read-more{
  color:black;
  text-transform: uppercase;
  border:1px solid black;
  text-decoration:none;
  padding: .75rem 1.5rem;
  font-family:$headfont;
  }

  a:visited{
  	color:white;
  }

  .container:nth-child(3){
	height: 232.5px;
}
  .container:nth-child(4){
	height: 232.5px;
}

h2 .entry-title{
	margin-top: 0px;
}

.entry-content p{
	margin-bottom: 20px;
	padding-top: 10px;
}

.entry-content span{
	font-size: 23px;
}

.logged-in-as{
	margin-top: 0px;
}

.comment-form-comment label{
	font-family: 'Novecento';
	color: #2f1339;
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
    text-transform: uppercase;
}

textarea{
	margin-top: 10px;
}

.form-submit input{
	font-size: 14.4px;
}

.comment-body{
	display: flex;
    margin-top: 50px;
}

.comment-metadata p{
	color: #248a83;
}

.blog .content-area{
	margin-top: 55px;
}

.comments-title{
	margin-top: 80px;
}


#primary{
 padding-bottom: 50px; 
}