@import "variables";

.widget {
	margin: 0 0 $base__space-unit;

	select {
		max-width: 100%;
	}
}

.widget-area{
	padding-top:5rem;
	width: 25%;
	padding-left: 5%;
	border-left: #eee solid 1px;

	h3, h2{
	font-size: 1.5rem;
	line-height: 1.25rem;
	margin-bottom: 1.5rem;
	letter-spacing: 2px;
	}
	a:hover{
		color: #404040;
	}
}

.widget-title{
	font-family: 'Novovento Sans Wide';
	text-transform: uppercase;
	font-size: 18.72px;
	text-align: left;
}

.widget_search .search-submit {
	display: none;
}

.widget_archive{
	ul{
		list-style-type: none;
		padding:0;
		margin:0;
		li a{
			text-decoration: none;
			color:$green;
		}
	}
}

.contact {
	a{
	text-decoration: none;
	color:$green;
	}
	p{
	margin-bottom: 1.25rem;
	}
}

.textwidget{
	.contact-meta{
		display: flex;
		.fa{
			padding-right:0.5rem;
		}
	}
}

#secondary{
	padding-top: 5%;
	width: 40%;
	padding-left: 50px;	
}

.day-of-the-week{
	font-weight: bold;
}