@import "variables";

.home .adventures,.home .home-hero,.home .latest-entries,.home .product-info {
    margin-bottom: 4rem
}

.logo{
  margin-top: 5px;
  filter: brightness(100%);
}

.home .home-hero {
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover,cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;}

.home,.page-template-page-about{
    .content-area{
      padding-left:0;
    }
  }  
    
  .home{
    .advbtn{
      background: transparent;
      color: #fff;
      border: 1px solid white;
    }
    .advreadmore{
      padding-top:1rem;
      padding-bottom:3rem;
      .moreadventures{
        background:#248A83;
        padding-bottom:1rem;
        border:none;
        color:#fff;
          
      }
    }  
    h2{
      text-transform: uppercase;
    }
  
      .content-area{
      width: 100%;
      padding-right:0;
    }
  
    .site-main{
      .hero-banner{
        background:linear-gradient(to bottom, rgba(#000, 0.2), rgba(#000, 0.2)), url("../../images/home-hero.jpg");
        background-size:cover,cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2{
        font-family:$headfont;
        text-align:center;
        font-size:2rem;
        padding-top:1rem;
        padding-bottom:1rem;
      }     
  }}

  .search-submit {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 8px;
    border-radius: 100px;
    width: 50px;
    height: 30px;
  }

  .fa-search{
    color: #000;
  }

  #search-icon{
    display: contents;
    color: #248A83;
  }

  .hero-banner img{
    height: 275px;
    width: 275px;
    filter: brightness(100%);
  }

  .header-container{
    width: 1120px;
    display: flex;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    height: 55px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #masthead{
    display: flex;
    justify-content: center;
    padding: 3px;
    padding-bottom: 4px;
  }

  fieldset{
    position: relative;
    padding: 0%;
    bottom: 1px;
    color: $green;
  }

  .hfeed .site-header .header-container {
    padding-left: 0%;
    padding-right: 0%;
  }

  .fa-search{
    color: #248A83;
  }