.site-footer {
  background: url(../../images/dark-wood.png);
  background-size: 512px 512px;
  color: #fff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 353px; }

.site-footer a {
  color: #fff;
  text-decoration: none; }

.site-footer a:hover {
  text-decoration: underline; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi) {
  .site-footer {
    background: url(../../images/dark-wood@2x.png);
    background-size: 512px 512px; } }

.footer-blocks {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 1120px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer-blocks h3 {
  color: #d99054;
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-bottom: .75rem;
  text-transform: uppercase; }

.footer-blocks p {
  margin-bottom: .5rem; }

.footer-blocks i {
  font-size: 20px;
  font-size: 1.25rem;
  margin-right: .5rem; }

.footer-blocks .day-of-week {
  font-weight: 700; }

.footer-block-item {
  margin: 2rem 0;
  padding-right: 1.5rem;
  width: 25%; }

.footer-block-item:last-child {
  padding-right: 0;
  width: 50%; }

.footer-block-item .text-logo {
  text-align: right; }

.footer-block-item .text-logo img {
  max-width: 50%;
  margin-top: 50px;
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.site-info {
  font-family: Novecento Sans Web,sans-serif;
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase; }

.widget-area {
  padding-top: 0px;
  width: 100%; }

.cat-links .tags-links {
  display: inline-block; }

.cat-links {
  margin-right: 1.5rem;
  font-family: 'Novovento Sans Wide';
  text-transform: uppercase; }
  .cat-links a {
    text-decoration: none;
    color: #248A83;
    font-family: 'Novovento Sans Wide'; }

.tags-links {
  font-family: 'Novovento Sans Wide';
  text-transform: uppercase; }
  .tags-links a {
    text-decoration: none;
    color: #248A83;
    font-family: 'Novovento Sans Wide'; }

.nav-previous {
  display: none; }

.buttons-footer-single {
  width: 800px;
  padding-left: 220px;
  font-size: 14.4px; }

.footer-block-item .text-logo {
  height: 125px; }
  .footer-block-item .text-logo img {
    height: 50px; }
