.home .adventures, .home .home-hero, .home .latest-entries, .home .product-info {
  margin-bottom: 4rem; }

.logo {
  margin-top: 5px; }

.home .home-hero {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), #969696 url(../../images/home-hero.jpg) no-repeat top;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4)), #969696 url(../../images/home-hero.jpg) no-repeat top;
  background-size: cover,cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center; }

.home .content-area, .page-template-page-about .content-area {
  padding-left: 0; }

.home .advbtn {
  background: transparent;
  color: #fff;
  border: 1px solid white; }

.home .advreadmore {
  padding-top: 1rem;
  padding-bottom: 3rem; }
  .home .advreadmore .moreadventures {
    background: #248A83;
    padding-bottom: 1rem;
    border: none;
    color: #fff; }

.home h2 {
  text-transform: uppercase; }

.home .content-area {
  width: 100%;
  padding-right: 0; }

.home .site-main .hero-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../../images/home-hero.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/home-hero.jpg");
  background-size: cover,cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.home .site-main h2 {
  font-family: "Novecento", Sans-Serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.search-submit {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 8px;
  border-radius: 100px;
  width: 50px;
  height: 30px; }

.fa-search {
  color: #000; }

#search-icon {
  display: contents; }

.hero-banner img {
  height: 275px;
  width: 275px; }
