html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Merriweather';
  src: url("../../fonts/Merriweather-Bold.eot");
  src: url("../../fonts/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Merriweather-Bold.woff2") format("woff2"), url("../../fonts/Merriweather-Bold.woff") format("woff"), url("../../fonts/Merriweather-Bold.ttf") format("truetype"), url("../../fonts/Merriweather-Bold.svg#Merriweather-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather';
  src: url("../../fonts/Merriweather-Light.eot");
  src: url("../../fonts/Merriweather-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Merriweather-Light.woff2") format("woff2"), url("../../fonts/Merriweather-Light.woff") format("woff"), url("../../fonts/Merriweather-Light.ttf") format("truetype"), url("../../fonts/Merriweather-Light.svg#Merriweather-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather';
  src: url("../../fonts/Merriweather-LightItalic.eot");
  src: url("../../fonts/Merriweather-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Merriweather-LightItalic.woff2") format("woff2"), url("../../fonts/Merriweather-LightItalic.woff") format("woff"), url("../../fonts/Merriweather-LightItalic.ttf") format("truetype"), url("../../fonts/Merriweather-LightItalic.svg#Merriweather-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Merriweather';
  src: url("../../fonts/Merriweather-BoldItalic.eot");
  src: url("../../fonts/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Merriweather-BoldItalic.woff2") format("woff2"), url("../../fonts/Merriweather-BoldItalic.woff") format("woff"), url("../../fonts/Merriweather-BoldItalic.ttf") format("truetype"), url("../../fonts/Merriweather-BoldItalic.svg#Merriweather-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Novecento';
  src: url("../../fonts/3018a28e55913e21e7ce1c051fd8beeb.eot");
  src: url("../../fonts/3018a28e55913e21e7ce1c051fd8beeb.eot?#iefix") format("embedded-opentype"), url("../../fonts/3018a28e55913e21e7ce1c051fd8beeb.woff2") format("woff2"), url("../../fonts/3018a28e55913e21e7ce1c051fd8beeb.woff") format("woff"), url("../../fonts/3018a28e55913e21e7ce1c051fd8beeb.ttf") format("truetype"), url("../../fonts/3018a28e55913e21e7ce1c051fd8beeb.svg#.") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Novecento';
  src: url("../../fonts/57eb59ad161ed474e87fcbf41c8e6c0b.eot");
  src: url("../../fonts/57eb59ad161ed474e87fcbf41c8e6c0b.eot?#iefix") format("embedded-opentype"), url("../../fonts/57eb59ad161ed474e87fcbf41c8e6c0b.woff2") format("woff2"), url("../../fonts/57eb59ad161ed474e87fcbf41c8e6c0b.woff") format("woff"), url("../../fonts/57eb59ad161ed474e87fcbf41c8e6c0b.ttf") format("truetype"), url("../../fonts/57eb59ad161ed474e87fcbf41c8e6c0b.svg#.") format("svg");
  font-weight: normal;
  font-style: normal; }

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Novecento";
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1rem; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1rem; }

address {
  margin: 0 0 1rem; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6rem; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: #fff;
  font-family: 'Merriweather'; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1rem; }

ul, ol {
  margin: 0 0 1rem 2rem; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1rem; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1rem 1rem; }

img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  height: auto;
  max-width: 100%; }

table {
  margin: 0 0 1rem;
  width: 100%; }

h1, h3 {
  font-family: 'Novecento';
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 40px; }

h2 {
  text-align: center;
  font-family: 'Novecento';
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 40px; }

.btn .read-more {
  font-size: 14px;
  line-height: 14.4px;
  padding-top: 12px;
  letter-spacing: -0.1px;
  padding-bottom: 12px; }

.journal-info a {
  font-size: 14px;
  line-height: 14.4px;
  padding-top: 12px;
  letter-spacing: -0.2px;
  padding-bottom: 12px; }

#moreadvbutton:hover {
  background-color: #19625d;
  color: #fff; }

#stuffbutton:hover {
  background-color: #19625d;
  color: #fff; }

#titlefront a:hover {
  color: aqua; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #248A83;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: unset;
  font-family: "Novecento", Sans-Serif;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .75rem 1.5rem; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background-color: #19625d; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

input {
  outline: none; }

#search-field {
  background: transparent;
  width: 0px;
  border: none;
  font-family: "Novecento", Sans-Serif; }

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.comment-form-comment {
  width: 100%; }

.comment-form-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
  margin-right: 1%; }

.comment-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%; }

.comment-form-url {
  width: 100%; }
  .comment-form-url input[type=url] {
    width: 100%; }

a {
  color: royalblue; }
  a:visited {
    color: white; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

.search-field {
  display: none; }

.search-bar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .search-bar-nav .fa {
    color: #248A83;
    padding-top: 7px; }

.hfeed .site-header {
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #e1e1e1;
  padding: .5rem 0;
  position: fixed;
  -webkit-transition: top .5s linear;
  transition: top .5s linear;
  width: 100%;
  z-index: 3; }
  .hfeed .site-header .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Novecento", Sans-Serif; }
  .hfeed .site-header .site-branding a img {
    height: 35px; }

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-navigation .menu-main-menu-container {
    text-transform: uppercase; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul li a {
      color: #248A83;
      text-transform: uppercase;
      margin-right: 10px;
      margin-top: 5px; }
    .main-navigation ul ul {
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
              box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1rem;
      left: -999rem;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999rem;
        top: 0; }
      .main-navigation ul ul li:hover > ul,
      .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
      .main-navigation ul ul :hover > a,
      .main-navigation ul ul .focus > a {
        color: midnightblue; }
      .main-navigation ul ul a:hover,
      .main-navigation ul ul a.focus {
        color: midnightblue; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative;
    padding-right: 10px; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

.fa-search:before {
  position: absolute;
  margin-top: -0.7rem; }

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1rem;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

.search-icon {
  display: content; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1rem; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1rem; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clearfix {
  clear: both;
  content: "";
  display: table; }

.widget {
  margin: 0 0 1rem; }
  .widget select {
    max-width: 100%; }

.widget-area {
  width: 25%;
  border-left: #eee solid 1px;
  padding-top: 105px;
  padding-bottom: 48px;
  padding-left: 56px;
  line-height: 28px; }
  .widget-area h3, .widget-area h2 {
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px; }
  .widget-area a:hover {
    color: #404040; }

.widget-title {
  font-family: 'Novecento';
  text-transform: uppercase;
  font-size: 18.72px;
  text-align: left; }

.widget_search .search-submit {
  display: none; }

.widget_archive ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .widget_archive ul li a {
    text-decoration: none;
    color: #248A83; }

.contact a {
  text-decoration: none;
  color: #248A83; }

.contact p {
  margin-bottom: 1.25rem; }

.textwidget .contact-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .textwidget .contact-meta .fa {
    padding-right: 0.5rem; }

#secondary {
  padding-top: 90px;
  width: 40%;
  padding-left: 50px; }

.day-of-the-week {
  font-weight: bold; }

.site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto; }

.content-area {
  width: 75%; }

.archive .entry-title {
  position: absolute;
  top: 0;
  background-color: #248A83;
  margin-top: 2rem;
  font-size: 2rem;
  max-width: 75%;
  padding-left: 1rem;
  padding-right: 1rem; }
  .archive .entry-title a {
    color: #fff;
    text-decoration: none; }
    .archive .entry-title a a:hover {
      color: #f0e4d1; }

.page .content-area, .single .content-area, .blog .content-area, .archive .content-area {
  padding-left: 1%; }

.hfeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sticky {
  display: block; }

.entry-header {
  font-family: "Novecento", Sans-Serif;
  position: relative;
  width: 760px;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .entry-header img {
    width: 100%; }
  .entry-header .price {
    font-size: 2rem; }

.single-post h1.entry-title {
  position: absolute;
  top: 10%;
  background-color: #248A83;
  margin-top: 2rem;
  font-size: 2.0rem;
  max-width: 75%;
  color: #fff;
  font-family: "Novecento", Sans-Serif;
  padding: 0 20px; }

.blog .read-more-wrapper {
  padding-bottom: 2rem; }

.blog .entry-header h2.entry-title {
  top: 0;
  background-color: #248A83;
  margin-top: 2rem;
  font-size: 2.0rem;
  max-width: 75%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute; }

.blog .entry-header a {
  font-family: "Novecento", Sans-Serif;
  color: #fff;
  text-decoration: none; }

.entry-meta {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #248A83;
  color: #fff;
  padding: 0.25rem 2rem;
  font-family: 'Novecento';
  font-size: 18px; }

.hentry {
  margin: 0 0 1rem; }

.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1rem 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1rem; }

/* Asides */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

.single-format-standard .social-buttons .fa:before {
  padding-right: 0.5rem; }

.page-id-38 .site-main {
  padding-top: 10%; }

.product-type-blocks {
  font-size: 0.95rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }

.product-type-block-wrapper {
  -ms-flex-preferred-size: 23.5%;
      flex-basis: 23.5%;
  max-width: 23.5%;
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  padding: 1rem; }
  .product-type-block-wrapper img {
    height: 65px; }
  .product-type-block-wrapper a.btn {
    font-family: "Novecento", Sans-Serif;
    background: #248A83;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75rem 1.5rem;
    font-size: 13px; }

.product-type-block-wrapper:hover {
  border: 1px solid #d99054;
  border-top-width: 5px; }

.read-more {
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  text-decoration: none;
  padding: .75rem 1.5rem;
  font-family: "Novecento", Sans-Serif; }

a:visited {
  color: white; }

.container:nth-child(3) {
  height: 232.5px; }

.container:nth-child(4) {
  height: 232.5px; }

h2 .entry-title {
  margin-top: 0px; }

.entry-content p {
  margin-bottom: 20px;
  padding-top: 10px; }

.entry-content span {
  font-size: 23px; }

.logged-in-as {
  margin-top: 0px; }

.comment-form-comment label {
  font-family: 'Novecento';
  color: #2f1339;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase; }

textarea {
  margin-top: 10px; }

.form-submit input {
  font-size: 14.4px; }

.comment-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px; }

.comment-metadata p {
  color: #248a83; }

.blog .content-area {
  margin-top: 55px; }

.comments-title {
  margin-top: 80px; }

#primary {
  padding-bottom: 50px; }

.hfeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.wrapper-content-sidebar {
  width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

embed,
iframe,
object {
  max-width: 100%; }

.wp-caption {
  margin-bottom: 1rem;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075rem 0; }

.wp-caption-text {
  text-align: center; }

.gallery {
  margin-bottom: 1rem; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

.max-contain {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }

.blog .content-area, .post-template-default .content-area {
  margin-top: 120px; }

.home .content-area, .page-template-page-about .content-area {
  padding-left: 0; }

.home .advbtn {
  background: transparent;
  color: #fff;
  border: 1px solid white; }

.home .advreadmore {
  padding-top: 1rem;
  padding-bottom: 3rem; }
  .home .advreadmore .moreadventures {
    background: #248A83;
    padding-bottom: 1rem;
    border: none;
    color: #fff; }

.home h2 {
  text-transform: uppercase; }

.home .content-area {
  width: 100%;
  padding-right: 0; }

.home .site-main .hero-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../../images/home-hero.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/home-hero.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover,cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.home .site-main h2 {
  font-family: "Novecento", Sans-Serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.journal-entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .journal-entries .journal-entry {
    border: 1px solid #e1e1e1; }
    .journal-entries .journal-entry img {
      height: 250px;
      width: 360px;
      border-bottom: 5px solid #e1e1e1; }

.journal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  padding: .75rem; }
  .journal-info .entry-title {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left; }
    .journal-info .entry-title a {
      color: #248A83;
      text-decoration: none; }
  .journal-info .journal-date {
    font-size: 0.75rem; }

.product-type-blocks {
  font-size: 0.95rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }

.product-type-block-wrapper {
  -ms-flex-preferred-size: 23.5%;
      flex-basis: 23.5%;
  max-width: 23.5%;
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  padding: 1rem; }
  .product-type-block-wrapper img {
    height: 65px; }
  .product-type-block-wrapper a.btn {
    font-family: "Novecento", Sans-Serif;
    background: #248A83;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75rem 1.5rem; }

.product-type-block-wrapper:hover {
  border: 1px solid #d99054;
  border-top-width: 5px; }

.read-more {
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
  text-decoration: none;
  padding: .75rem 1.5rem;
  font-family: "Novecento", Sans-Serif; }

a:visited {
  color: black; }

.blog .adventure-read-more:hover, .blog .read-more:hover, .home .adventure-read-more:hover, .home .read-more:hover {
  color: white;
  background-color: #248A83;
  border: 1px solid #248A83; }

.adventure-read-more {
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem 1.5rem;
  font-family: "Novecento", Sans-Serif; }

.adv-read-more {
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  text-decoration: none;
  padding: .75rem 1.5rem;
  font-family: "Novecento", Sans-Serif; }
  .adv-read-more a:visited {
    color: white; }

.adventures-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px; }
  .adventures-wrapper .container:nth-child(1) {
    position: relative;
    grid-column: 1/3;
    grid-row: 1/3; }
    .adventures-wrapper .container:nth-child(1) .adventure-entry img {
      width: 100%;
      height: 500px; }
    .adventures-wrapper .container:nth-child(1) .adventure-entry .entry-title {
      font-family: "Merriweather", Sans-Serif;
      text-transform: capitalize; }
      .adventures-wrapper .container:nth-child(1) .adventure-entry .entry-title a {
        font-size: 2.5rem; }
      .adventures-wrapper .container:nth-child(1) .adventure-entry .entry-title a:hover {
        color: #f0e4d1; }
  .adventures-wrapper .container:nth-child(2) {
    position: relative;
    grid-column: 3/5; }
    .adventures-wrapper .container:nth-child(2) .adventure-entry img {
      width: 100%;
      height: 250px; }
    .adventures-wrapper .container:nth-child(2) .adventure-entry .entry-title {
      font-family: "Merriweather", Sans-Serif;
      text-transform: capitalize; }
      .adventures-wrapper .container:nth-child(2) .adventure-entry .entry-title a {
        font-size: 2.5rem; }
      .adventures-wrapper .container:nth-child(2) .adventure-entry .entry-title a:hover {
        color: #f0e4d1; }
  .adventures-wrapper .container:nth-child(3) {
    position: relative; }
    .adventures-wrapper .container:nth-child(3) .adventure-entry img {
      height: 235px; }
    .adventures-wrapper .container:nth-child(3) .adventure-entry a:hover {
      color: #f0e4d1; }
    .adventures-wrapper .container:nth-child(3) .adventure-entry .entry-title {
      font-family: "Merriweather", Sans-Serif;
      text-transform: capitalize; }
  .adventures-wrapper .container:nth-child(4) {
    position: relative; }
    .adventures-wrapper .container:nth-child(4) .adventure-entry img {
      height: 235px; }
    .adventures-wrapper .container:nth-child(4) .adventure-entry a:hover {
      color: #f0e4d1; }
    .adventures-wrapper .container:nth-child(4) .adventure-entry .entry-title {
      font-family: "Merriweather", Sans-Serif;
      text-transform: capitalize; }
  .adventures-wrapper .adventure-entry .adventure-info {
    position: absolute;
    top: 0;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: .75rem; }
    .adventures-wrapper .adventure-entry .adventure-info a {
      color: #fff; }
    .adventures-wrapper .adventure-entry .adventure-info .entry-title {
      font-size: 20px;
      padding-top: 0;
      padding-bottom: 0;
      text-align: left; }
      .adventures-wrapper .adventure-entry .adventure-info .entry-title a {
        color: white;
        text-decoration: none; }

.post-type-archive-product .content-area {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.post-type-archive-product .site-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.post-type-archive-product h1 {
  text-transform: uppercase;
  color: black; }

.post-type-archive-product .social-buttons {
  padding-bottom: 3rem; }
  .post-type-archive-product .social-buttons button[type="submit"] {
    background-color: #fff;
    border-color: black;
    border-radius: 0;
    height: 40px;
    width: 140px; }
    .post-type-archive-product .social-buttons button[type="submit"] :hover {
      background-color: #248A83; }
  .post-type-archive-product .social-buttons :before {
    padding-right: 1rem; }

.post-type-archive-product .post-type-archive-product, .post-type-archive-product .archive-product-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem; }

.post-type-archive-product .item-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 5px solid #e1e1e1;
  padding: 1rem;
  position: relative; }

.post-type-archive-product .dots {
  position: absolute;
  right: 69px;
  z-index: 1; }

.post-type-archive-product .product-text-info {
  background: white;
  z-index: 2; }

.post-type-archive-product .product-post {
  border: 1px solid #e1e1e1; }
  .post-type-archive-product .product-post a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .post-type-archive-product .product-post a img {
      max-height: 250px; }

.post-type-archive-product .type-product a img {
  border-bottom: 5px solid #e1e1e1;
  height: 250px; }

.post-type-archive-product .page-header {
  width: 100%;
  text-align: center; }
  .post-type-archive-product .page-header .page-title {
    border-bottom: none;
    font-family: "Novecento", Sans-Serif; }

.post-type-archive-product .content-area {
  padding-bottom: 5rem; }

.post-type-archive-product .shop-category-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #e1e1e1;
  font-family: "Novecento", Sans-Serif; }

.post-type-archive-product .shop-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%; }
  .post-type-archive-product .shop-category p a {
    text-decoration: none;
    color: #248A83;
    font-size: 1.2rem;
    text-transform: uppercase; }

.term-wear .content-area, .term-eat .content-area, .term-do .content-area, .term-sleep .content-area {
  width: 100%; }

.term-wear .page-header, .term-eat .page-header, .term-do .page-header, .term-sleep .page-header {
  text-align: center;
  border-bottom: 1px dashed #e1e1e1; }

.term-wear .tax-page-title, .term-eat .tax-page-title, .term-do .tax-page-title, .term-sleep .tax-page-title {
  text-transform: uppercase;
  font-family: "Novecento", Sans-Serif; }

.term-wear .taxonomy-description, .term-eat .taxonomy-description, .term-do .taxonomy-description, .term-sleep .taxonomy-description {
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Merriweather", Sans-Serif;
  text-transform: lowercase; }

.term-wear .archive-product-content, .term-eat .archive-product-content, .term-do .archive-product-content, .term-sleep .archive-product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 3rem; }

.term-wear .item-grid, .term-eat .item-grid, .term-do .item-grid, .term-sleep .item-grid {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  max-width: 23%;
  border: 1px solid #e1e1e1;
  height: 310px; }
  .term-wear .item-grid a img, .term-eat .item-grid a img, .term-do .item-grid a img, .term-sleep .item-grid a img {
    border-bottom: 5px solid #e1e1e1;
    height: 250px; }

.term-wear .content-area, .term-eat .content-area, .term-do .content-area, .term-sleep .content-area {
  padding-bottom: 5rem; }

.name-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap; }

.product-template-default {
  padding: 0%; }
  .product-template-default .entry-title {
    font-family: "Novecento", Sans-Serif;
    color: #d99054;
    text-transform: uppercase; }
  .product-template-default .content-area {
    width: 100%;
    padding-bottom: 6rem; }
  .product-template-default .type-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 8rem; }
    .product-template-default .type-product div img {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
  .product-template-default .single-product-wrapper {
    padding-left: 3rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .product-template-default .entry-header img {
    max-width: 500px;
    height: 400px; }
  .product-template-default .entry-meta {
    display: none; }
  .product-template-default .widget-area {
    display: none; }

.single-product-buttons {
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  text-decoration: none;
  padding: .75rem 1.5rem;
  background: #fff;
  border-radius: 0;
  font-size: 14px;
  font-family: "Novecento", Sans-Serif; }
  .single-product-buttons:hover {
    background-color: #248A83;
    border: 1px solid #248A83;
    color: #fff; }
  .single-product-buttons .fa {
    padding-right: 1rem; }

.search-form fieldset {
  border: 0; }

.search-results .page-title {
  font-family: "Novecento", Sans-Serif; }

.search-results .type-product {
  padding-top: 3rem; }

.search-results .content-area {
  padding-left: 5%; }

.search-results h2 a {
  color: #248A83;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem; }

.search-results .search-pagination {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.search-results .page-numbers {
  background-color: #248a83;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: .5rem .75rem;
  margin-right: .25rem;
  text-decoration: none; }

.search-results .category-recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.search-results .entry-meta {
  position: absolute;
  left: -7px;
  bottom: -33%;
  background-color: transparent;
  color: black;
  padding: .5rem; }

.search-results .post-5 .entry-header {
  display: block;
  height: auto;
  text-align: left; }

.search-results .post-5 .entry-summary {
  display: none; }

.search-results .category-how-tos .entry-meta {
  bottom: -85%; }

.search-results .category-how-tos .entry-summary {
  padding-top: 1rem; }

.search-results .page-header {
  padding-top: 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 1px solid #e1e1e1; }

.archive .p-bottom {
  padding-bottom: 2rem; }

.archive .page-header {
  padding-top: 6rem; }

.archive .page-title {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
  text-transform: uppercase; }

.sorry-search {
  margin-top: 8rem;
  padding-left: 3rem; }

.error404 .content-area {
  padding-left: 5%;
  padding-top: 6rem; }

.error404 .widget_recent_entries ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .error404 .widget_recent_entries ul li a {
    text-decoration: none;
    color: #248A83; }

.error404 .widget_categories ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .error404 .widget_categories ul li a {
    text-decoration: none;
    color: #248A83; }

.error404 .widget_archive {
  padding-bottom: 3rem; }

.error404 .archive-dropdown {
  font-size: 1.15rem; }

.error404 .page-content .search-toggle {
  display: none; }

.error404 .page-content .search-field {
  width: 200px !important; }

.page-template-default h1 {
  font-family: "Novecento", Sans-Serif; }

.product-type-block-wrapper p {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: normal;
  font-size: 16px; }

.home .adventures, .home .home-hero, .home .latest-entries, .home .product-info {
  margin-bottom: 4rem; }

.logo {
  margin-top: 10px;
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.home .home-hero {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), #969696 url(../../images/home-hero.jpg) no-repeat top;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4)), #969696 url(../../images/home-hero.jpg) no-repeat top;
  background-size: cover,cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center; }

.home .content-area, .page-template-page-about .content-area {
  padding-left: 0; }

.home .advbtn {
  background: transparent;
  color: #fff;
  border: 1px solid white; }

.home .advreadmore {
  padding-top: 1rem;
  padding-bottom: 3rem; }
  .home .advreadmore .moreadventures {
    background: #248A83;
    padding-bottom: 1rem;
    border: none;
    color: #fff; }

.home h2 {
  text-transform: uppercase; }

.home .content-area {
  width: 100%;
  padding-right: 0;
  margin-top: 65px; }

.home .site-main .hero-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../../images/home-hero.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/home-hero.jpg");
  background-size: cover,cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 10px;
  position: relative; }

.home .site-main h2 {
  font-family: "Novecento", Sans-Serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.search-submit {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 8px;
  border-radius: 100px;
  width: 50px;
  height: 30px; }

.fa-search {
  color: #000; }

#search-icon {
  display: contents;
  color: #248A83; }

.hero-banner img {
  height: 275px;
  width: 275px;
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.header-container {
  width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  height: 55px;
  padding-left: 0px;
  padding-right: 0px; }

#masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  padding-bottom: 0px; }

fieldset {
  position: relative;
  padding: 0%;
  bottom: 1px;
  color: #248A83; }

.hfeed .site-header .header-container {
  padding-left: 0%;
  padding-right: 0%; }

.fa-search {
  color: #248A83; }

.site-footer {
  background: url(../../images/dark-wood.png);
  background-size: 512px 512px;
  color: #fff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 353px; }

.site-footer a {
  color: #fff;
  text-decoration: none; }

.site-footer a:hover {
  text-decoration: underline; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi) {
  .site-footer {
    background: url(../../images/dark-wood@2x.png);
    background-size: 512px 512px; } }

.footer-blocks {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 1120px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer-blocks h3 {
  color: #d99054;
  font-size: 19.2px;
  font-size: 1.2rem;
  margin-bottom: .75rem;
  text-transform: uppercase; }

.footer-blocks p {
  margin-bottom: .5rem; }

.footer-blocks i {
  font-size: 20px;
  font-size: 1.25rem;
  margin-right: .5rem; }

.footer-blocks .day-of-week {
  font-weight: 700; }

.footer-block-item {
  margin: 2rem 0;
  padding-right: 1.5rem;
  width: 25%; }

.footer-block-item:last-child {
  padding-right: 0;
  width: 50%; }

.footer-block-item .text-logo {
  text-align: right; }

.footer-block-item .text-logo img {
  max-width: 50%;
  margin-top: 50px;
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.site-info {
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase; }

.widget-area {
  padding-top: 0px;
  width: 100%; }

.cat-links .tags-links {
  display: inline-block; }

.cat-links {
  margin-right: 1.5rem;
  font-family: 'Novecento';
  text-transform: uppercase; }
  .cat-links a {
    text-decoration: none;
    color: #248A83;
    font-family: 'Novecento'; }

.tags-links {
  font-family: 'Novecento';
  text-transform: uppercase; }
  .tags-links a {
    text-decoration: none;
    color: #248A83;
    font-family: 'Novecento'; }

.nav-previous {
  display: none; }

.buttons-footer-single {
  width: 800px;
  font-size: 14.4px; }

.footer-block-item .text-logo {
  height: 125px; }
  .footer-block-item .text-logo a img {
    height: 50px; }

.page .content-area-abt {
  padding-left: 0%;
  font-family: 'Merriweather'; }

.alignnone {
  display: none; }

.site-main-abt {
  text-align: -webkit-center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 0%; }

.content-area-abt {
  width: 100%;
  height: auto;
  text-align: -webkit-center;
  padding: inherit;
  margin-top: 56px; }

.entry-content-abt {
  max-width: 800px;
  text-align: -webkit-left; }

#post-11 {
  max-width: 100%;
  width: 100%;
  text-align: -webkit-auto; }

.hero-title {
  color: white;
  letter-spacing: 2px;
  font-size: 2.5rem; }

.hero-image {
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-header-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1120px; }

.content-area-shop {
  width: 100%;
  padding: 0;
  text-align: center; }

.shop-category-wrapper {
  text-align: -webkit-center;
  border-color: #808080; }

.shop-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  justify-content: space-between; }

.post-type-archive-product, .archive-product-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 5.5rem;
  max-width: 1120px; }

.item-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 5px solid #e1e1e1;
  padding: 1rem;
  position: relative; }

.dots {
  position: absolute;
  right: 69px;
  z-index: 1; }

.product-text-info {
  background: white;
  z-index: 2; }

.product-post a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-post a img {
    max-height: 250px; }

.type-product {
  padding-top: 0rem; }
  .type-product a img {
    border-bottom: 5px solid #808080;
    height: 250px; }

.page-header {
  width: 100%;
  text-align: center; }
  .page-header .page-title {
    border-bottom: none; }

.content-area {
  padding-bottom: 5rem; }

.site-main-shop {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: -webkit-center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 0px; }

.content-area-shop {
  padding-left: 0%; }

.shop-category-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #808080; }

.shop-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%; }
  .shop-category p a {
    text-decoration: none;
    color: #248A83;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Novecento'; }

.product-post a img {
  max-height: 180px;
  max-width: 260px;
  -webkit-filter: brightness(1);
          filter: brightness(1); }

.product-template-default .type-product {
  padding: 0%; }

.content-area-product {
  padding: 50px;
  margin-left: 25px; }

.entry-title-prod {
  margin-top: 0%; }

.product-post {
  border: 1px solid #808080; }
  .product-post span {
    font-size: 1rem;
    font-family: 'Merriweather';
    padding: 5px; }

.product-type-block-wrapper p {
  font-size: 16px;
  letter-spacing: 0px; }

.product-type-block-wrapper img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.journal .post {
  margin: 3rem 0; }
  .journal .post .entry-header {
    position: relative;
    width: 100%;
    min-height: 300px; }
    .journal .post .entry-header img {
      width: 100%; }
    .journal .post .entry-header a {
      display: inline;
      text-decoration: none;
      color: white; }
      .journal .post .entry-header a:hover {
        color: silver; }
    .journal .post .entry-header .entry-title {
      position: absolute;
      top: 0;
      left: 0;
      background: #248A83;
      width: 65%;
      color: white;
      padding: 0 1.5rem;
      font-size: 1.5rem; }
  .journal .post .entry-footer a {
    text-decoration: none; }
  .journal .post .entry-footer span {
    display: inline-block;
    padding-right: 1.5rem; }
  .journal .post .social-links {
    padding-top: 1.5rem; }

.category-journal {
  padding-top: 0px;
  padding-right: 50px; }

.journal-info .entry-title {
  width: 346px; }
  .journal-info .entry-title a {
    color: #248a83;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 26px; }
    .journal-info .entry-title a .entry-title {
      padding-right: 0px; }

.journal-date {
  margin-bottom: -65px; }

.journal-info a {
  margin-top: -35px;
  padding-top: 12px;
  letter-spacing: -0.1px;
  padding-bottom: 12px; }

.entry-title a:hover {
  color: #2f1339; }

.post-info-wrapper span {
  font-size: 0.75px; }

.journal-entry img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

#title-front {
  top: 0px;
  background-color: #248a83;
  margin-top: 1.75rem;
  font-size: 2.1rem;
  max-width: 75%;
  padding-left: 2rem;
  padding-right: 3rem;
  position: absolute;
  width: auto;
  height: auto;
  text-align: -webkit-left;
  padding-top: .5rem;
  padding-bottom: .5rem; }

.wp-post-image {
  -webkit-filter: brightness(1);
          filter: brightness(1); }

.entry-title-journal a:hover {
  color: #f0e4d1; }

.post {
  margin-top: 60px; }

h1 {
  text-transform: uppercase; }

.single.single-adventure .entry-header {
  height: auto;
  width: 100vw;
  text-align: center; }

.single.single-adventure .content-area {
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

.single.single-adventure .entry-content {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  padding-bottom: 1rem;
  line-height: 1.5;
  max-width: 800px; }

.single.single-adventure .entry-meta {
  position: relative;
  color: #000;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: left;
  font-size: 1.5rem; }

.single.single-adventure .entry-title {
  font-size: 3rem;
  margin-bottom: 15px; }

.single.single-adventure .social-buttons {
  margin-bottom: 2rem; }

.single.single-adventure .site-header.reverse-header {
  background-color: transparent;
  border-bottom: 0;
  position: absolute; }

.read-more-adv {
  margin: 15px; }

.adventures-wrapper .container:nth-child(3) .adventure-entry img {
  height: 232px; }

.adventures-wrapper .container:nth-child(4) .adventure-entry img {
  height: 232px; }

.adventure-read-more {
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  position: initial;
  top: 170px; }
  .adventure-read-more a {
    margin-top: 0px; }

.adventure-info {
  margin-top: -70px; }
  .adventure-info a {
    height: 42px;
    line-height: 1; }
  .adventure-info .entry-title {
    margin-top: 90px;
    margin-bottom: 30px;
    letter-spacing: 2px; }

.adventures-wrapper .adventure-entry .adventure-info a {
  color: #fff;
  margin-top: 0px; }

.home .advreadmore {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  font-family: 'Merriweather'; }

.moreadventures .read-more {
  padding-bottom: 12px;
  letter-spacing: -0.1px; }

.adventure-entry img {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6); }

.adventure-read-more {
  margin: 0%; }
  .adventure-read-more a {
    margin-top: 80px;
    height: 42px;
    line-height: 1px; }

.advreadmore {
  margin: 0%; }
  .advreadmore a:hover {
    background: black; }

.container:first-child .entry-title a p {
  height: 550px; }

.adventures-wrapper .container:first-child .adventure-entry .entry-title a {
  font-size: 3rem; }

.adventures-wrapper .container:nth-child(2) .adventure-entry .entry-title a {
  font-size: 2.4rem; }

.container:first-child img {
  height: 550px;
  width: 550px; }

.container:nth-child(2) {
  height: 265px;
  width: 550px; }

.container:nth-child(3) {
  width: 265px;
  height: 265px; }
  .container:nth-child(3) .adventure-info a {
    margin: 0%;
    margin-bottom: 20px; }
  .container:nth-child(3) .entry-title {
    margin-bottom: 10px; }

.container:nth-child(4) {
  width: 265px;
  height: 265px; }
  .container:nth-child(4) .adventure-info a {
    margin: 0%;
    margin-bottom: 20px; }
  .container:nth-child(4) .entry-title {
    margin-bottom: 10px; }

.adventure-info a {
  margin: 0;
  margin-top: 30px; }

.adventures-wrapper {
  gap: 2px 20px; }

.adventures-wrapper .adventure-entry .adventure-info {
  padding: 1.25rem; }

.post-type-archive-adventure .site-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.post-type-archive-adventure .content-area {
  width: 100%; }

.post-type-archive-adventure .page-title {
  margin-top: 8rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px dashed #e1e1e1;
  font-family: "Novecento", Sans-Serif; }

.post-type-archive-adventure .entry-title {
  font-size: 3.1rem;
  color: #fff;
  font-weight: 400;
  background-color: transparent;
  font-size: 2.5rem;
  max-width: 100%;
  font-family: "Merriweather", Sans-Serif;
  margin-top: 4rem; }

.post-type-archive-adventure .entry-title a:hover {
  color: #f0e4d1; }

.post-type-archive-adventure .adventure-grid {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  max-width: 49%; }

.post-type-archive-adventure .entry-header img {
  height: 500px;
  width: 500px linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }

.post-type-archive-adventure .read-more-wrapper {
  position: absolute;
  top: 50%;
  padding-left: 1rem; }

.post-type-archive-adventure .advbtn {
  background: transparent;
  color: #fff;
  border: 1px solid white;
  font-size: 14.4px;
  line-height: 14.4px;
  font-weight: 300; }

.post-type-archive-adventure .advbtn:hover {
  background-color: #248A83;
  border: #248A83; }

.home h2 {
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.4rem;
  color: #2f1339; }

.post-15 h1.entry-title {
  margin: 5rem 0 3rem 6rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold; }

.post-15 h2 {
  clear: both;
  font-family: "Novecento", Sans-Serif;
  letter-spacing: 2px;
  text-transform: uppercase; }

.post-15 .hfeed .site-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%; }

.post-15 .content-area {
  width: 75%;
  padding-left: 10%; }

.post-15 label {
  color: #2f1339;
  font-family: "Novecento", Sans-Serif;
  font-size: 17.6px;
  font-size: 1.1rem;
  margin-bottom: .5rem;
  text-transform: uppercase; }

.post-15 input[type=text], .post-15 input[type=email] {
  color: #666;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e1;
  border-radius: 0; }

.post-15 textarea {
  color: #666;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e1;
  border-radius: 0; }

.wpcf7 form {
  margin-left: 96px; }

iframe {
  border: 0;
  margin-left: 96px;
  margin-bottom: 50px;
  width: 750px; }

#primary-findus {
  margin-top: 60px;
  margin-left: 150px; }

.entry-header-findus {
  height: 175px; }

.archive .page-header {
  padding-top: 0rem; }

.container-prodtype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.item-grid {
  padding: 0%; }
  .item-grid img {
    width: auto;
    height: 100px; }

.description-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .description-prod p {
    font-size: 14px; }

.term-do .item-grid a img, .term-eat .item-grid a img, .term-sleep .item-grid a img, .term-wear .item-grid a img {
  border-bottom: 5px solid #e1e1e1;
  height: 200px; }

.product-post span {
  font-size: 14px;
  font-family: Merriweather;
  padding: 5px; }

.product-type-block-wrapper p {
  font-size: 16px;
  letter-spacing: 0;
  width: 235px;
  padding-bottom: 10px; }

.entry-title-single a {
  color: #fff;
  text-decoration: none; }

.comments-link a {
  color: #fff;
  text-decoration: none; }

.entry-content-single p {
  font-family: 'Merriweather';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 24px; }

.nav-next {
  display: none; }

.comments-title {
  text-align: left;
  color: #2f1339;
  font-size: 2.1rem; }

.comment-list {
  margin: unset;
  padding: unset;
  list-style: decimal;
  list-style-type: none; }

.comment-author-avatar {
  margin-right: 20px; }
  .comment-author-avatar img {
    border-radius: 40px; }

#div-comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Merriweather'; }

.comment-metadata {
  color: #808080;
  font-size: 16px; }
  .comment-metadata a {
    text-decoration: none;
    color: #248A83; }

.reply a {
  text-decoration: none;
  color: #248A83; }

.comment-author .fn {
  font-weight: 700;
  font-size: 16px;
  font-family: "Merriweather", Sans-Serif;
  font-style: normal;
  margin-bottom: 5px; }

.comment-content p {
  margin: 20px 0px; }

cite .fn {
  font-size: 16px; }

.comment-reply-title {
  font-size: 28.8px;
  font-family: "Novecento", Sans-Serif;
  color: #404040;
  font-weight: 700; }

.logged-in-as a {
  text-decoration: none;
  color: #404040;
  font-size: 16px; }

.blog .content-area, .post-template-default .content-area {
  margin-top: 55px; }
