@font-face {
    font-family: '.';
    src: url('02c38b4adb2c9de7ac5f50816b5bd43b.eot');
    src: url('02c38b4adb2c9de7ac5f50816b5bd43b.eot?#iefix') format('embedded-opentype'),
        url('02c38b4adb2c9de7ac5f50816b5bd43b.woff2') format('woff2'),
        url('02c38b4adb2c9de7ac5f50816b5bd43b.woff') format('woff'),
        url('02c38b4adb2c9de7ac5f50816b5bd43b.ttf') format('truetype'),
        url('02c38b4adb2c9de7ac5f50816b5bd43b.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('05faff09262deab451935026b0331701.eot');
    src: url('05faff09262deab451935026b0331701.eot?#iefix') format('embedded-opentype'),
        url('05faff09262deab451935026b0331701.woff2') format('woff2'),
        url('05faff09262deab451935026b0331701.woff') format('woff'),
        url('05faff09262deab451935026b0331701.ttf') format('truetype'),
        url('05faff09262deab451935026b0331701.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

